In [ ]:
#Location for Python 3 interpeter 
#!/home/ktd2001/anaconda3/bin/python3

In [1]:

#import os
import glob # Will read all of the files
import pandas as pd
import numpy as np
import seaborn # Used to plot graphs
import matplotlib.pyplot as plt # Used to plot graphs
%pylab inline # To display in NB

UsageError: unrecognized arguments: # To display in NB

Reading in Indego data files and combining datasets

In [2]:
q1_17_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego_gbfs_trips_Q1_2017.csv')
q1_17_df

,trip_id,duration,start_time,end_time,start_station_id,start_lat,start_lon,end_station_id,end_lat,end_lon,bike_id,plan_duration,trip_route_category,passholder_type
0,87535955,660,1/1/2017 0:05,1/1/2017 0:16,3046,39.950119,-75.144722,3041,39.968491,-75.135460,5347,30,One Way,Indego30
1,87535954,2160,1/1/2017 0:21,1/1/2017 0:57,3110,39.961750,-75.136414,3054,39.962502,-75.174202,3364,0,One Way,Walk-up
2,87535953,2100,1/1/2017 0:22,1/1/2017 0:57,3110,39.961750,-75.136414,3054,39.962502,-75.174202,2536,0,One Way,Walk-up
3,87535952,720,1/1/2017 0:27,1/1/2017 0:39,3041,39.968491,-75.135460,3005,39.947330,-75.144028,5176,30,One Way,Indego30
4,87535951,480,1/1/2017 0:28,1/1/2017 0:36,3047,39.950710,-75.149208,3124,39.952950,-75.139793,5370,0,One Way,Walk-up
5,87535950,420,1/1/2017 0:29,1/1/2017 0:36,3047,39.950710,-75.149208,3124,39.952950,-75.139793,2479,0,One Way,Walk-up
6,87535949,540,1/1/2017 0:31,1/1/2017 0:40,3072,39.934448,-75.145409,3068,39.935490,-75.167107,5332,30,One Way,Indego30
7,87535948,960,1/1/2017 0:34,1/1/2017 0:50,3033,39.950050,-75.156723,3114,39.937752,-75.180122,5359,30,One Way,Indego30
8,87535947,1140,1/1/2017 0:38,1/1/2017 0:57,3013,39.963169,-75.147919,3028,39.940609,-75.149582,3716,0,One Way,Walk-up
9,87535946,1020,1/1/2017 0:40,1/1/2017 0:57,3013,39.963169,-75.147919,3028,39.940609,-75.149582,2557,0,One Way,Walk-up
10,87541769,3360,1/1/2017 0:40,1/1/2017 1:36,3124,39.952950,-75.139793,3124,39.952950,-75.139793,11016,0,Round Trip,Walk-up
11,87541767,3360,1/1/2017 0:41,1/1/2017 1:37,3124,39.952950,-75.139793,3124,39.952950,-75.139793,5351,0,Round Trip,Walk-up
12,87619087,48300,1/1/2017 0:47,1/1/2017 14:12,3066,39.945610,-75.173477,3066,39.945610,-75.173477,2476,0,Round Trip,Walk-up
13,87535945,480,1/1/2017 0:49,1/1/2017 0:57,3046,39.950119,-75.144722,3018,39.952728,-75.159790,3296,30,One Way,Indego30
14,87541765,1200,1/1/2017 0:54,1/1/2017 1:14,3014,39.958858,-75.173691,3034,39.933151,-75.162483,3303,0,One Way,Walk-up
15,87541764,720,1/1/2017 0:55,1/1/2017 1:07,3055,39.951118,-75.154572,3100,39.927769,-75.151031,5259,30,One Way,Indego30
16,87541763,420,1/1/2017 0:56,1/1/2017 1:03,3108,39.953159,-75.165512,3060,39.959229,-75.170357,5199,30,One Way,Indego30
17,87541762,540,1/1/2017 0:56,1/1/2017 1:05,3043,39.930820,-75.174744,3012,39.942181,-75.177467,5187,0,One Way,Walk-up
18,87541760,840,1/1/2017 0:57,1/1/2017 1:11,3070,39.960621,-75.139832,3059,39.962650,-75.161743,3325,30,One Way,Indego30
19,87541761,480,1/1/2017 0:57,1/1/2017 1:05,3043,39.930820,-75.174744,3012,39.942181,-75.177467,3378,0,One Way,Walk-up
20,87541759,300,1/1/2017 0:57,1/1/2017 1:02,3075,39.967178,-75.161247,3058,39.967159,-75.170013,3451,30,One Way,Indego30
21,87541758,360,1/1/2017 1:02,1/1/2017 1:08,3045,39.947922,-75.162369,3066,39.945610,-75.173477,2679,30,One Way,Indego30
22,87541757,2340,1/1/2017 1:03,1/1/2017 1:42,3055,39.951118,-75.154572,3008,39.980782,-75.150551,2617,0,One Way,Walk-up
23,87541756,2340,1/1/2017 1:04,1/1/2017 1:43,3055,39.951118,-75.154572,3008,39.980782,-75.150551,2718,0,One Way,Walk-up
24,87541755,660,1/1/2017 1:04,1/1/2017 1:15,3108,39.953159,-75.165512,3012,39.942181,-75.177467,3417,30,One Way,Indego30
25,87541754,660,1/1/2017 1:05,1/1/2017 1:16,3102,39.968182,-75.180344,3061,39.954250,-75.177612,5157,30,One Way,Indego30
26,87541753,1380,1/1/2017 1:08,1/1/2017 1:31,3046,39.950119,-75.144722,3041,39.968491,-75.135460,3542,0,One Way,Walk-up
27,87541752,1320,1/1/2017 1:09,1/1/2017 1:31,3046,39.950119,-75.144722,3041,39.968491,-75.135460,2574,0,One Way,Walk-up
28,87541751,660,1/1/2017 1:10,1/1/2017 1:21,3088,39.969841,-75.141800,3075,39.967178,-75.161247,11037,0,One Way,Walk-up
29,87541750,720,1/1/2017 1:23,1/1/2017 1:35,3061,39.954250,-75.177612,3064,39.938400,-75.173271,3431,30,One Way,Indego30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107742,106976323,660,3/31/2017 22:16,3/31/2017 22:27,3108,39.953159,-75.165512,3075,39.967178,-75.161247,5122,30,One Way,Indego30
107743,106976322,240,3/31/2017 22:24,3/31/2017 22:28,3099,39.934010,-75.150940,3028,39.940609,-75.149582,3504,30,One Way,Indego30
107744,106976321,540,3/31/2017 22:25,3/31/2017 22:34,3009,39.955761,-75.189819,3104,39.966640,-75.192093,5370,30,One Way,Indego30
107745,106976320,1200,3/31/2017 22:26,3/31/2017 22:46,3034,39.933151,-75.162483,3027,39.957081,-75.201767,3670,30,One Way,Indego30
107746,106976319,240,3/31/2017 22:27,3/31/2017 22:31,3035,39.962711,-75.194191,3009,39.955761,-75.189819,5209,30,One Way,Indego30
107747,106987376,2220,3/31/2017 22:27,3/31/2017 23:04,3006,39.952202,-75.203110,3006,39.952202,-75.203110,3640,30,Round Trip,Indego30
107748,106976318,180,3/31/2017 22:37,3/31/2017 22:40,3053,39.932308,-75.181541,3114,39.937752,-75.180122,3475,30,One Way,Indego30
107749,106976317,600,3/31/2017 22:41,3/31/2017 22:51,3022,39.954720,-75.183228,3010,39.947109,-75.166183,2557,30,One Way,Indego30
107750,106976316,60,3/31/2017 22:42,3/31/2017 22:43,3108,39.953159,-75.165512,3108,39.953159,-75.165512,5139,30,Round Trip,Indego30
107751,106976315,540,3/31/2017 22:43,3/31/2017 22:52,3108,39.953159,-75.165512,3059,39.962650,-75.161743,2510,30,One Way,Indego30
107752,106976314,660,3/31/2017 22:46,3/31/2017 22:57,3052,39.947319,-75.156952,3100,39.927769,-75.151031,5307,30,One Way,Indego30
107753,106976312,360,3/31/2017 22:47,3/31/2017 22:53,3050,39.953388,-75.154259,3046,39.950119,-75.144722,5262,30,One Way,Indego30
107754,106976313,420,3/31/2017 22:47,3/31/2017 22:54,3108,39.953159,-75.165512,3051,39.967442,-75.175072,2664,30,One Way,Indego30
107755,106987367,360,3/31/2017 23:00,3/31/2017 23:06,3053,39.932308,-75.181541,3012,39.942181,-75.177467,5243,30,One Way,Indego30
107756,106987366,420,3/31/2017 23:03,3/31/2017 23:10,3059,39.962650,-75.161743,3108,39.953159,-75.165512,2510,30,One Way,Indego30
107757,106987365,900,3/31/2017 23:03,3/31/2017 23:18,3018,39.952728,-75.159790,3114,39.937752,-75.180122,3463,30,One Way,Indego30
107758,106987363,540,3/31/2017 23:04,3/31/2017 23:13,3005,39.947330,-75.144028,3037,39.954239,-75.161377,5402,30,One Way,Indego30
107759,106987364,1080,3/31/2017 23:04,3/31/2017 23:22,3046,39.950119,-75.144722,3056,39.976688,-75.158127,5338,30,One Way,Indego30
107760,106987362,240,3/31/2017 23:11,3/31/2017 23:15,3045,39.947922,-75.162369,3010,39.947109,-75.166183,2630,30,One Way,Indego30
107761,106987361,540,3/31/2017 23:14,3/31/2017 23:23,3055,39.951118,-75.154572,3025,39.937241,-75.161201,5390,30,One Way,Indego30
107762,106987360,420,3/31/2017 23:15,3/31/2017 23:22,3108,39.953159,-75.165512,3063,39.946331,-75.169800,2510,30,One Way,Indego30
107763,106987359,1080,3/31/2017 23:17,3/31/2017 23:35,3029,39.953800,-75.194794,3007,39.945171,-75.159927,5134,0,One Way,Walk-up
107764,106987358,1320,3/31/2017 23:19,3/31/2017 23:41,3006,39.952202,-75.203110,3043,39.930820,-75.174744,3640,0,One Way,Walk-up
107765,106987357,480,3/31/2017 23:23,3/31/2017 23:31,3010,39.947109,-75.166183,3025,39.937241,-75.161201,2630,30,One Way,Indego30
107766,106987356,900,3/31/2017 23:24,3/31/2017 23:39,3020,39.948872,-75.189857,3043,39.930820,-75.174744,3421,30,One Way,Indego30
107767,106987355,660,3/31/2017 23:25,3/31/2017 23:36,3022,39.954720,-75.183228,3102,39.968182,-75.180344,3488,30,One Way,Indego30
107768,106987354,900,3/31/2017 23:26,3/31/2017 23:41,3022,39.954720,-75.183228,3053,39.932308,-75.181541,2653,0,One Way,Walk-up
107769,106996587,1680,3/31/2017 23:35,4/1/2017 0:03,3040,39.962891,-75.166061,3115,39.972630,-75.167572,5299,30,One Way,Indego30
107770,106987352,720,3/31/2017 23:36,3/31/2017 23:48,3108,39.953159,-75.165512,3053,39.932308,-75.181541,5139,30,One Way,Indego30
107771,106987351,540,3/31/2017 23:39,3/31/2017 23:48,3034,39.933151,-75.162483,3028,39.940609,-75.149582,2717,0,One Way,Walk-up

In [3]:
q1_17_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego_gbfs_trips_Q1_2017.csv' )
q2_17_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego_gbfs_trips_Q2_2017.csv')
q3_17_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego-trips-2017-q3.csv')
q4_17_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego-quarter-echo.bicycletransit.com-2018-01-19-9-57 AM.csv')
#q1_18_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego-trips-2018-q1.csv')
#q2_18_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego-trips-2018-q2.csv')
#q3_18_df = pd.read_csv('/home/ktd2001/Downloads/bike/data/indego-trips-2018-q3.csv')                       

# stack the DataFrames on top of each other
data = df= pd.concat([q1_17_df, q2_17_df, q3_17_df, q4_17_df], axis=0, sort= True)
data.tail()

,bike_id,duration,end_lat,end_lon,end_station,end_station_id,end_time,passholder_type,plan_duration,start_lat,start_lon,start_station,start_station_id,start_time,trip_id,trip_route_category
183904,3708,28,39.952950,-75.139793,3124.0,NaN,2017-12-31 23:33:00,Indego30,30,39.960621,-75.139832,3070.0,NaN,2017-12-31 23:05:00,223865572,One Way
183905,5117,712,39.958191,-75.178200,3165.0,NaN,2018-01-01 11:03:00,Indego30,30,39.982029,-75.188660,3107.0,NaN,2017-12-31 23:11:00,223909280,One Way
183906,11933,7,39.950119,-75.144722,3046.0,NaN,2017-12-31 23:25:00,Indego30,30,39.950050,-75.156723,3033.0,NaN,2017-12-31 23:18:00,223865571,One Way
183907,6725,1,39.949741,-75.180969,3163.0,NaN,2017-12-31 23:40:00,Indego30,30,39.949741,-75.180969,3163.0,NaN,2017-12-31 23:39:00,223865570,Round Trip
183908,11864,14,39.964581,-75.180031,3057.0,NaN,2017-12-31 23:55:00,Indego30,30,39.949741,-75.180969,3163.0,NaN,2017-12-31 23:41:00,223865569,One Way

In [ ]:
#files_path = "/home/ktd2001/Downloads/bike/data"
#read_files = glob.glob(os.path.join(files_path,"indego*.csv"))

#np_array_values = []
#for files in read_files:
 #   df = data = indego_data = pd.read_csv(files, header = 0) 
  #  np_array_values.append(indego_data)
    
#print(files)

In [ ]:
 #np_array_values

In [ ]:
#df= indego_data = data 
#df

In [ ]:
#indego_data.sort_values('start_time', inplace=True)
#df

# Work with smaller data set to get things working

In [ ]:
#df.loc[0:5000, :]  
#df.tail()

# Inspect Data

In [ ]:
# Check for NAN values by using booleans
nan_df = data.isnull()
nan_df.head()

In [ ]:
# Show which columns have NAN
nan_df1= df[df.isnull().any(axis=1)]
nan_df1.head()

Take a closer look at each file to determine what is causing NAN values

In [ ]:
q1_17_df.head(2)

In [ ]:
q2_17_df.head(2)

In [ ]:
q3_17_df.head(2)

In [ ]:
q4_17_df.head(2)

In [ ]:
#q1_18_df.head(2)

In [ ]:
#q2_18_df.head(2)

In [ ]:
#q3_18_df.head(2)

Discoveries:
The date/time format is not consistent. Date/time will need to be changed to the same formate in order to work with the column data.

Also the column heading for station id is recorded differently which is why have NAN for this feature. It is either listed as 'start_station/end_station' or 'start_station_id/end_station_id'. This will need to be corrected to eliminate NAN.

In [ ]:
# Rename column in Q1 2017 dataset
update_1 = q1_17_df.rename(columns= {'start_station_id' : 'start_station', 'end_station_id' : 'end_station'})
update_1.head()
# Changes were accepted

In [ ]:
df[df.isnull().any(axis=1)]

In [ ]:
# Replace NAN with zero in lat and lon column
df.replace(np.nan, 0, inplace = True)
# Check for any remaining NAN
df.isna().sum()

In [ ]:
df1 = pd.concat([update_1, q2_17_df, q3_17_df, q4_17_df], axis=0, sort= True)
df.tail()

The issues regarding NAN values has been resolved by eliminating the redundancy with column names and replacing NA with zeros.

Convert date/time start and end will be reformated to make feature useful

In [ ]:
start_date_time = sdt = ('1/1/2017 0:21')

In [ ]:
sdt = pd.to_datetime(sdt)

In [ ]:
df1['start_time'] = df1['start_time'].map(pd.to_datetime)
df1.head(2)

Successful at changing start time format

In [ ]:
end_date_time = edt = ('1/1/2017 0:57')

In [ ]:
edt = pd.to_datetime(edt)

In [ ]:
df['end_time'] = df1['end_time'].map(pd.to_datetime) 
df.tail(2)

Successful at changing end time format

In [ ]:
# Confirm date has been changed in all files in the 2 row 
df1['start_time'][2]

In [ ]:
# Dictionary 
    
def get_month(sdt):
    return sdt.month

df1['month'] = df1['start_time'].map(get_month)

def get_dom(sdt): #day of the month
    return sdt.day

df1['dom'] = df1['start_time'].map(get_dom)

def get_weekday(sdt):
    return sdt.weekday()

df1['weekday'] = df1['start_time'].map(get_weekday)

def get_hour(sdt):
    return sdt.hour

df1['hour'] = df1['start_time'].map(get_hour)

df1.tail()

In [ ]:
sdt.day

In [ ]:
#def
#df.groupby('month').mean().plot()

# Analysis

Analysis of the day of month

In [ ]:
hist(df1.dom, bins=30, rwidth=.9, range=(0.5, 30.5))
xlabel('Date of the month')
ylabel('Frequency')
title('Frequency by DoM - Indego - Q1 2017 - Q3 2018')
plt.legend('Bikes per day')

In [ ]:
# for loop
for k, rows in df1.groupby('dom'):
    print((k, (rows)))

In [ ]:
# Give number of records for each day of the month in chucks
def count_rows(rows):
    return len(rows)

by_date = df1.groupby('dom').apply(count_rows)
by_date

In [ ]:
plot(by_date)

In [ ]:
# *Problem with getting graph to plot start on day 1
bar(range(0,31), by_date)
xlabel('Date of the month')
ylabel('Frequency')
title('Frequency by DoM - Indego - Q1 2017 - Q3 2018')
plt.legend('Bikes per day')

In [ ]:
# Days are sorted by values instead of in date order
by_date_sorted = by_date.sort_values()
by_date_sorted

In [ ]:
# Dates are sorted by frequency of rides per day
bar(range(0,31), by_date_sorted)
xticks(range(31), by_date_sorted.index)
xlabel('Date of the month')
ylabel('Frequency')
title('Frequency by DoM - Indego - Q1 2017 - Q3 2018')
plt.legend('Bikes per day')
plt.savefig('dayfig')
;

# Analysis Hour

In [ ]:
hist(data1.hour, bins=24, range=(0,24))
xticks(range(24), " 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24".split())
xlabel('Hour')
ylabel('Frequency')
title('Frequency by Hour - Indego - Q1 2017 - Q3 2018')
plt.legend('Bikes per hour')
plt.savefig('hourfig')

# Analyze by Weekday

In [ ]:
hist(data1.weekday, bins=7, range=(-0.5,6), rwidth=0.5, color='purple')
xticks(range(7), "Mon Tue Wed Thu Fri Sat Sun".split())
xlabel('Days of the week')
ylabel('Frequency')
title('Frequency of rides during Weekdays - Indego - Q1 2017 - Q3 2018')
plt.legend('Weekday')
plt.savefig('weekdayfig')

In [ ]:
# Cross anaylsis of hour and weekend data

In [ ]:
# For each hour give number of riders per day
data1.groupby('hour weekday'.split()).apply(count_rows).unstack()

In [ ]:
# For each hour give number of riders per day
by_cross = data1.groupby('weekday hour'.split()).apply(count_rows).unstack()

In [ ]:
seaborn.heatmap(by_cross)
title('Weekday Bike Usage - Indego - Q1 2017 - Q3 2018')
plt.savefig('heatfig')

Heatmap shows Monday through Thursday between 7-8a and 4-6p have the most usage. Wednesday is the most popular day.

In [ ]:
# Using Latitude and Longitude data

In [ ]:
data1.dtypes

In [ ]:
hist(data1['start_lat'], bins= 100, range = (39.7, 40.0), normed= True, alpha= 0.8)
;

In [ ]:
hist(data1['start_lon'], bins= 100, range = (-74.9, -75.1), normed= False, alpha= 0.8)
;

In [ ]:
hist(data1['start_lat'], bins = 100, range = (39.7, 40.0), normed = True, alpha = 0.5, color = 'g', label = 'latitude')
legend(loc= 'upper left')
twiny()
hist(data1['start_lon'], bins = 100, range = (-74.9, -75.1), normed = False, alpha = 0.5, color ='r', label = 'longitude')
legend(loc= 'best')
;

In [ ]:
# Attempting to plot the where riders bike to 
figure(figsize=(20,20))
plot(data1['start_lon'], df['start_lat'], '.', ms= 1, alpha =.5)
xlim(-75.0, -75.1)
ylim(39.7, 40.0)

In [ ]:
# How many entries are there for each month?
data1['month'].value_counts()

In [ ]:
bike_stations = data1[['start_lat','start_lon']].drop_duplicates()
len(bike_stations)

In [ ]:
fig, ax = plt.subplots()
bike_scatter_plot = ax.scatter(
    data1['start_lat'][:10000], # x axis
    data1['start_lon'][:10000]  # y axis 
) 
       
plt.show()

In [ ]:
plt.figure(figsize=(5,5*1.75))
plt.scatter(data1['start_lat'][:10000],data1['start_lon'][:10000],s=2,color='orange', label='bike pick-up station')
plt.scatter(bike_stations['end_lat'],bike_stations['end_lon'],s=5,alpha=0.2,label='bike drop-off stations')
plt.axis([-74.02,-75.90,39.92,40.83])
plt.legend()
plt.axis('off')
plt.show()

In [ ]:
fig, ax = plt.subplots()
plt.scatter(df[['start_lat','start_lon'], label=['Starting point'])
plt.legend()
plt.show()

In [ ]:
# Define a function for an overlaid histogram
def overlaid_histogram(data1, data1_name, data1_color, data2, data2_name, data2_color, x_label, y_label, title):
    # Set the bounds for the bins so that the two distributions are
    # fairly compared
    max_nbins = 10
    data_range = [min(min(data1), min(data2)), max(max(data1), max(data2))]
    binwidth = (data_range[1] - data_range[0]) / max_nbins
    bins = np.arange(data_range[0], data_range[1] + binwidth, binwidth)

    # Create the plot
    _, ax = plt.subplots()
    ax.hist(data1, bins = bins, color = data1_color, alpha = 1, label = data1_name)
    ax.hist(data2, bins = bins, color = data2_color, alpha = 0.75, label = data2_name)
    ax.set_ylabel(y_label)
    ax.set_xlabel(x_label)
    ax.set_title(title)
    ax.legend(loc = 'best')

# Call the function to create plot
overlaid_histogram(data1 = data1['registered']
                   , data1_name = 'Registered'
                   , data1_color = '#539caf'
                   , data2 = data1['casual']
                   , data2_name = 'Casual'
                   , data2_color = '#7663b0'
                   , x_label = 'Check outs'
                   , y_label = 'Frequency'
                   , title = 'Distribution of Check Outs By Type')